.users {
    display: flex;
    margin: 10px;
    margin-bottom: 30px;
}
.userName {
    vertical-align: top;  
    margin-right: 20px;
    width: 100px;
}
.userName img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page {
    padding: 0 5px;
    cursor: pointer;
}
.page:hover {
    color: grey;
}
.active {
    color: grey;
    border-bottom: 2px solid grey;
}
a {
    color: black;
    text-decoration: none;
}