.Posts {
    padding-left: 10px;
}
.PostsElement {
    display: flex;
    flex-direction: column-reverse;
}
.newPost textarea {
    box-sizing: border-box;
    resize: none;
    height: 30px;
    width: 250px;
    max-height: 100px;
    overflow: hidden;
    outline: none;
    border-radius: 20px;
    padding: 5px 20px;
}
.newPost button {
    border-radius: 20px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
