.App {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    'h h'
    'n m';
    grid-gap: 10px;
}

.main {
    grid-area: m;
    background-color: burlywood;
}
textarea {
    box-sizing: border-box;
    resize: none;
    height: 30px;
    width: 250px;
    max-height: 100px;
    overflow: hidden;
    outline: none;
    border-radius: 10px;
    padding: 5px 20px;
}
button {
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
button:hover{
    background: rgba(200, 200, 200);
}
button:active{
    background: rgba(150, 150, 150);
}